<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= typeof title != 'undefined' ? title : 'Default Title' %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>SuperMarket</h1>
    </header>
    <main>
      <aside>
        <ul>
          <li><a href="/">All categories</a></li>
          <% categories.forEach(function(category) { %>
          <li><a href="<%= category.url %>"> <%= category.name %></a></li>
          <% }); %>
          <hr>
          
          <li><a href="/catalog/category/create">Add category </a></li>
          <li><a href="/catalog/food/create">Add food </a></li>
        </ul>
      </aside>

      <div class="main-content"><%- body %></div>
    </main>

    <footer>
      <p>&copy; SuperMarket</p>
    </footer>
  </body>
</html>
